body {
  font-size: 1.2em;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}
.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-items-color {
    color: red;
}